
.bodyadpt{
  text-shadow: 0.1em 0.1em 0.9em rgba(0, 0, 0, 0.69);
  text-rendering: optimizeSpeed;
  background-size: auto;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #122e20d6;
}


.meubotao {
    background-color: #142918; /* Cor desejada (#142918) */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3cm;
  }

  .meubotao:hover {
    background-color: #28472c; /* Cor alterada ao passar o mouse (#0f1e11) */
  }

  .nav{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-position-x: center;
    background-color: rgba(237, 199, 156, 0.442); /* Cor escura com transparência */
  }
  