.body{
  display: flex;
  justify-content: center;
  text-shadow: rgba(0, 0, 7, 0.70) 10px 22px 70px 4px;  
}
.meubotao {
    background-color: #142918; /* Cor desejada (#142918) */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3cm;
  }

.meubotao:hover {
  background-color: #28472c; /* Cor alterada ao passar o mouse (#0f1e11) */
}


.box{
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 7, 0.70) 10px 22px 70px 4px;    
  border-radius: 110px;
  background-color: rgba(187, 143, 116, 0.29); /* Cor escura com transparência */

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  
  
}









